---
id: test-result
title: "Test Result"
---


import { JsonDataTable } from '@site/src/components/JsonDataTable';

# Test Result

## Description

## Data Dictionary

<JsonDataTable jsonPath="nodes.model\.data_profiling\.data_profiling__test_result.columns" />