/* General table styles */
table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

table:not(.sticky) {
  margin-top: 40px;
}

thead {
  /* color: blue; */
  width: fit-content;
}

th {
  padding: 25px 0;
  color: #fff;
  position: sticky;
  top:0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  text-transform: uppercase;
}



/* tbody tr:nth-last-of-type(odd) {
  background-color: #f3f3f3;
} */

td {
  font-size: 18px;
  padding: 25px 0;
}
tr:hover {
  background-color: #F2F2F2 !important;
}