.blogListContent {
  margin-top: 1rem;
}

.previewWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.previewImage {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.previewDescription {
  margin: 0;
  color: var(--ifm-color-emphasis-700);
}

.postSubtitle {
  margin: 0 0 1.25rem;
  color: var(--ifm-color-emphasis-700);
  font-size: 1.125rem;
  line-height: 1.5;
}
